* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20;
    padding: 10;
    font-family: 'Akronim';
    background-image: url(imgs/imgfundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: 55% repeat(8, 150px) 1fr;
    grid-template-rows: repeat(7, 100px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
  
.titulo{
    font-size: 3rem;
    font-weight: bold;
}

.titulo:nth-of-type(1){
    grid-area: 2 / 2 / 2 / 4; 
}


.titulo:nth-of-type(2){
    grid-area: 2 / 5 / 2 / 5; 
}


.titulo:nth-of-type(3){
    grid-area: 3 / 3 / 3 / 6; 
}

.poema{ 
    grid-area: 4 / 3 / 5 / 6;
    text-align: center;
    font-size: 40px;
 }